
<!DOCTYPE html>
<html lang="en" ng-app="App">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.8/angular.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/lodash@4.17.11/lodash.min.js"></script>
    <script src="./app.js"></script>
    <script src="./file.service.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
    <link rel="stylesheet" href="style.css">
    <title>6502</title>
</head>
<body ng-controller="AppController as vm" step="vm.step();">
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-2">
                    <h2>Code</h2>
                    <div class="row" style="margin-bottom: 10px;">
                        <div class="col-sm-4"><input class="form-control form-control-sm" ng-model="vm.runToAddress"/></div>
                        <div class="col-sm-6"><button class="btn btn-info btn-sm" ng-click="vm.step();">step (F10)</button></div>
                        <div class="col-sm-1">{{vm.totalSteps}}</div>
                    </div> 
                        
                    
                    <div class="codeWatch">
                        <table class="table table-striped">
                            <tr ng-repeat="item in vm.AssemblyCode  track by $index">
                                <td ><span style="color: black; font-weight:600;" ng-click="vm.setRunTo(item.Address);" data-toggle="tooltip" data-placement="top" title="{{item.Address}}">{{item.Address | hex:16}}:</span></td>
                                <td style="width: 20px;"><span style="color: rgb(10, 173, 4); font-weight:600;"><i ng-if="item.Address == vm.Registers.ProgramCounter" class="fas fa-arrow-right"></i></span></td>
                                <td ><span style="color: blue;" data-toggle="tooltip" data-placement="top" title="({{item.OpCode.OpCode | hex}}) {{item.OpCode.Descripton}}"> {{item.OpCode.Name}}</span> {{item.Params}}</td>
                            </tr>
                        </table>
                    </div>
                </div>

                 <div class="col-sm-2">
                    <center>
                    <h2>Registers</h2>
                    <div class="resisters" >
                        <div class="register ProgramCounter" >
                            <span class="value" ng-class="{ changed : vm.Registers.ProgramCounterChanged }">{{vm.Registers.ProgramCounter | hex:16}}</span>
                            <label>PC</label>
                        </div>

                        <div class="register StackPointer">
                            <span class="value" ng-class="{ changed : vm.Registers.StackPointerChanged }">{{vm.Registers.StackPointer | hex}}</span>
                            <label>SP</label>
                        </div>

                        <div class="register Accumulator">
                            <span class="value" ng-class="{ changed : vm.Registers.AccumulatorChanged }">{{vm.Registers.Accumulator | hex}}</span>
                            <label>A</label>
                        </div>
                        
                        <div class="register IndexRegisterX">
                            <span class="value" ng-class="{ changed : vm.Registers.IndexRegisterXChanged }">{{vm.Registers.IndexRegisterX | hex}}</span>
                            <label>X</label>
                        </div>
                        
                        <div class="register IndexRegisterY">
                            <span class="value" ng-class="{ changed : vm.Registers.IndexRegisterYChanged }">{{vm.Registers.IndexRegisterY | hex}}</span>
                            <label>Y</label>
                        </div>              
                        
                        <div class="register Flags">
                            <span class="value">
                                <span ng-class="{ changed : vm.Registers.NegativeFlagChanged }">{{vm.Registers.NegativeFlag | bit}}</span><span ng-class="{ changed : vm.Registers.OverflowFlagChanged }">{{vm.Registers.OverflowFlag | bit}}</span>xx<span ng-class="{ changed : vm.Registers.DecimalModeChanged }">{{vm.Registers.DecimalMode | bit}}</span><span ng-class="{ changed : vm.Registers.InterruptDisableChanged }">{{vm.Registers.InterruptDisable | bit}}</span><span ng-class="{ changed : vm.Registers.ZeroFlagChanged }">{{vm.Registers.ZeroFlag | bit}}</span><span ng-class="{ changed : vm.Registers.CarryFlagChanged }"></span>{{vm.Registers.CarryFlag | bit}}</span>
                                <span class="NflagLabels" ng-class="{ changed : vm.Registers.NegativeFlagChanged }">N</span>
                                <span class="OflagLabels" ng-class="{ changed : vm.Registers.OverflowFlagChanged }">V</span>
                                <span class="DflagLabels" ng-class="{ changed : vm.Registers.DecimalModeChanged }">D</span>
                                <span class="IflagLabels" ng-class="{ changed : vm.Registers.InterruptDisableChanged }">I</span>
                                <span class="ZflagLabels" ng-class="{ changed : vm.Registers.ZeroFlagChanged }">Z</span>
                                <span class="CflagLabels" ng-class="{ changed : vm.Registers.CarryFlagChanged }">C</span>
                            </span>
                            <label>Flags</label>
                        </div>                           
                    </div>

                    <h2>Stack</h2>
                    <div class="stackWatch">
                        <table class="table table-striped">
                            <tr ng-repeat="item in vm.StackMemory  track by $index " ng-class="{ highlight : vm.Registers.StackPointer == (item - 256) }">
                                <td><span style="color: black; font-weight:600;" data-toggle="tooltip" data-placement="top" title="{{item}}">{{item | hex:16}}:</span>
                                </td>
                                <td ><span style="color: grey;" ng-class="{ changed : vm.MemoryChange.contains(item - 256) }">{{vm.Memory[item] | hex}}</span></td>
                            </tr>
                        </table>                
                    </div>  
                                        
                    <h2>Memory Write</h2>
                    <div class="stackWatch">
                        <table class="table table-striped">
                            <tr ng-repeat="item in vm.MemoryChange  track by $index ">
                                <td><span style="color: black; font-weight:600;" data-toggle="tooltip" data-placement="top" title="{{item}}">{{item | hex:16}}:</span>
                                </td>
                                <td ><span style="color: blue;">{{vm.Memory[item] | hex}}</span></td>
                            </tr>
                        </table>                
                    </div>          
                    
                    <h2>Memory Read</h2>
                    <div class="stackWatch">
                        <table class="table table-striped">
                            <tr ng-repeat="item in vm.MemoryRead  track by $index ">
                                <td><span style="color: black; font-weight:600;" data-toggle="tooltip" data-placement="top" title="{{item}}">{{item | hex:16}}:</span>
                                </td>
                                <td ><span style="color: blue;">{{vm.Memory[item] | hex}}</span></td>
                            </tr>
                        </table>                
                    </div>                      
                </center>

               
                </div>
                <div class="col-sm-3">

                    <h2>Memory</h2>
                    <div class="row" style="margin-bottom: 10px;">
                        <div class="col-sm-4"><input class="form-control form-control-sm" ng-model="vm.memoryWatchStart"/></div>
                        <div class="col-sm-4"><input class="form-control form-control-sm" ng-model="vm.memoryWatchEnd"/></div>
                        <div class="col-sm-4"><button class="btn btn-info btn-sm" ng-click="vm.watch();">watch</button></div>
                    </div>
                    <div class="memoryWatch">
                        <div ng-repeat="item in vm.WatchMemory track by $index" class="memoryRow">
                            <span style="color: black; font-weight:600;" data-toggle="tooltip" data-placement="top" title="{{item}}">{{item | hex:16}}:</span>
                            <span style="color: grey;" ng-repeat="x in vm.MemoryRow track by $index" ng-class="{ highlight : vm.MemoryChange.includes( item + x ) == true }">{{vm.Memory[item + x] | hex}}&nbsp;</span>
                        </div>


             
                    </div>   
                </div>            
                <div class="col-sm-3">
                    <h2>Memory Map</h2>
                    <div class="row" style="margin-bottom: 10px;">
                        <div class="memoryMap">
                            <div class="memorySection" ng-repeat="item in vm.memoryMap" ng-class="{ write : vm.checkRange( item.Start, item.End, vm.MemoryChange ), read : vm.checkRange( item.Start, item.End, vm.MemoryRead ) }">
                                {{item.Start | hex:16 }} - {{item.End | hex:16 }} {{item.Name}}
                            </div>
                        </div>
                    </div>
                </div>    
            </div>
        </div>


        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>        
</body>
</html>

