body {
    font-family:monospace;
    font-size:12px
}

.hex{
    font-family: monospace;
    white-space: pre;
    font-size: 18px;
    color: grey;
}

.table opCode{
    border-collapse: collapse;
    /*border: 1px solid black;*/
}

th {
}

th.a{
    
    transform: rotate(-80deg);    
}


.table td {
    padding: .0rem; 
}

.resisters{
    position: relative;
    width: 300px;
    height: 200px;
}

.register{
    position: absolute;
    width: 100px;
    cursor: pointer;
}

.ProgramCounter{
    top: 0px;
    left: 50px;
}

.StackPointer{
    top: 0px;
    left: 150px;
}

.Accumulator{
    top: 60px;
    left: 0px;
}

.IndexRegisterX{
    top: 60px;
    left: 100px;
}

.IndexRegisterY{
    top: 60px;
    left: 200px;
}

.Flags{
    top: 120px;
    left: 50px;
    width: 200px;
}

.flagLabels{
    position: absolute;
    top: 21px;
    font-size: .8em;
    font-weight: bold;
    color: rgb(44, 43, 43);
}

.NflagLabels{
    left: 65px;
}
.OflagLabels{
    left: 75px;
}
.DflagLabels{
    left: 101px;
}
.IflagLabels{
    left: 111px;
}
.ZflagLabels{
    left: 121px;
}
.CflagLabels{
    left: 131px;
}

.register .value{
    
    font-size: 1.4em;
    padding: .2em;
    border: 1px solid black;
    display: block;
    text-align: center;
    background-color: rgb(226, 226, 226);
    color: black;
    width: 100%;
}

.register label{
    position: absolute;
    /*top: 49px;*/
    left: 0px;
    width: 100%;
    color: white;
    font-size: 1em;
    text-align: center;
    background-color: black;
}

.register .changed{
    color: blue;
}

.stackWatch{
    min-height: 50px;
    max-height: 200px;
    overflow-y: auto;
}

.codeWatch{
    max-height: 900px;
    overflow-y: auto;
}

.memoryWatch{
    /*max-height: 900px;*/
    /*overflow-y: auto;*/
}

.highlight {
    font-weight: bold;
    color: rgb(253, 0, 0) !important;
}

.memoryRow{
    white-space: nowrap;
    font-size: 15px;
    line-height: 1em;
}

.memorySection{
    position: relative;
    padding-left: 3px;
    padding-right: 3px;
    border: 1px solid black;
    background-color: rgb(184, 250, 225);
    font-size: .75vw;
}

.startAddress{
    width: 200px;
    font-weight: bold;
}

.endAddress{
    font-size: .75vw;
}



.memoryMap{
    border: 1px solid black;
    border-collapse: collapse;
    width: 95%;
    margin-top: 5px;
    margin-left: 5px;
}

.memoryMap th{
    /*font-size: 14px;*/
    font-weight: Bold;
    border: 1px solid black;
    text-align: center;
}

.memoryMap td{
    /*font-size: 12px;*/
    font-weight: normal;
    border: 1px solid black;
    text-align: center;
}

.memoryMap .Interal{
    background-color: #aecf9e ;
}

.memoryMap .Exteral{
    background-color: #a0c7cf ;
}

.memoryMap .write {
    background-color: rgb(75, 75, 253);
    color: white;
}

.memoryMap .read{
    background-color: rgb(247, 90, 90);
    color: white;
}




.memoryMaplabel{
    position: absolute;
    top: 0px;
    left: 50px;
    font-size: .65vw;
}

.write{
    background-color: blue;
    color: white;
}

.read{
    color: red;
    border: 1px solid red;
}

.table td{
    vertical-align: bottom;
}

.HexDump{
    margin-top: 20px;;
}

.code{

}

.code th{
    padding: .0rem; 
    font-size: small;
}

.code .address{
    width: 60px;
    color: black; 
    font-weight:600;
}

.code .bytes{
    width: 120px;
    color: rgb(44, 61, 44);
}

.code .arrow{
    width: 20px;
    color: rgb(10, 173, 4); 
    font-weight:600;
}

.code .assemble{
    width: 150px;
    color: blue;
}

.code .param{
    color: black;
}

.code .comments{
    width: 800px;
    color: green;
}

.vertical-center {
    margin: 0;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
  }